@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Oswald:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* navbar started */
.logo img {
  height: 50px;
  width: 60px;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  position: relative;

}

.navbar a {
  color: white;
  padding: 30px;
  font-size: 20px;
}

.navbar a:hover {
  color: red;
}


/* header starar */
.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.content {
  height: 100vh;
  background-image: url(IMAGES/hero.png);
  background-size: cover;
  background-position: center;
}

.content .text {
  padding: 140px 0;

}

.content .text h1 {
  font-size: 80px;
  color: #fff;
  margin-left: 100px;


}

.content .text p {
  font-size: 20px;
  color: #fff;
  margin-left: 110px;
}

.btn {
  margin-left: 110px;
  padding: 15px;
  background-color: #e8631c;
  border: none;
  color: white;
  width: 180px;
  font-weight: bolder;
}

.btn:hover {
  background: transparent;
  border: 1px solid #e8631c;

}

/* SECTION */

section {
  padding: 110px 0;
}

.tour {

  background-color: #e8631c;
  position: relative;
}

.heading {
  text-align: center;

}

.heading h1 {
  font-size: 75px;
  color: #fff;
}

.heading p {
  font-size: 20px;
  color: #fff;
  padding: 20px 0;
}

.tour-item {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 80px;

}

.tour-item .item {
  height: 360px;
  width: 250px;
  border: 1px solid black;
}

.tour-item .item .img {
  height: 336px;
  width: 250px;
}

.tour-item .item .img img {
  height: 220px;
  width: 250px;
}

.tour-item .item .text {
  height: 141px;
  width: 250px;
  margin-top: -118px;
  padding: 40px;
  text-align: center;
  background-color: #303030;
}

.tour-item .item .text h2 {
  color: #fff;
  font-size: 20px;
}

.tour-item .item .text p {
  color: #fff;
  font-size: 12px;
}

.dotimage {
  position: absolute;
  top: 0;
  left: -140px;
  overflow: hidden;
}

.dotimage img {
  width: 700px;
  margin-left: -140px;
}

/* price section start */

.price {
  background-color: #303030;
  position: relative;
}

.price1 {
  display: flex;
  margin-top: 70px;
  justify-content: center;
  gap: 80px;
  position: relative;
}

.price .item {
  background-color: #e8631c;
  padding: 30px;
  text-align: center;
}

.price .item h2 {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.price .item p {
  text-align: center;
  font-size: 15px;
  color: #fff;
}

.btn1 {
  background-color: #303030;
  color: #fff;
  padding: 12px;
  font-size: 13px;
}

.dots_images {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}

.dots_images .top {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 0;
  left: -200px;
}

.dots_images .top img {
  height: 600px;
}

.dots_images .bottom {
  height: 500px;
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.dots_images .bottom img {
  height: 600px;
}

/* portfolio session start */

.portfolio {
  height: 100vh;
  display: flex;
}

.portfolio .left {
  height: 100%;
}

.portfolio .left img {
  height: 100%;
  width: 600px;
}

.portfolio .right {
  height: 100%;
  width: 800px;
  background-color: #e8631c;
}

.right .text {
  padding: 150px 110px;
}

.right .text h1 {
  font-size: 55px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald";
}

.right .text p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.btnp {
  background-color: #303030;
  color: #fff;
  padding: 12px;
  font-size: 15px;
  font-weight: bolder;
  width: 180px;
  border: none;
}

.btnp:hover {
  background-color: transparent;
  border: 1px solid black;
}


.portfolio1 {
  height: 100vh;
  display: flex;
}

.portfolio1 .left {
  height: 100%;
  width: 800px;
  background-color: #e8631c;
}

.portfolio1 .left .text {
  padding: 150px 110px;
}

.portfolio1 .left .text h1 {
  font-size: 55px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald";
}

.portfolio1 .left .text p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.portfolio1 .right {
  height: 100%;
}

.portfolio1 .right img {
  height: 100%;
  width: 662px;
}

/* ourstatic area start */

.ourstatick {
  background-color: #303030;
  position: relative;
}

.ourstatick .heading {
  text-align: center;
  margin-top: -40px;
}

.ourstatick.heading h1 {
  font-size: 75px;
  color: #fff;
}

.our.heading p {
  font-size: 20px;
  color: #fff;
}

.ourstatick .our-item .item {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 100px;
}

.ourstatick .our-item .item h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.ourstatick .our-item .item p {
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.back {
  height: 135vh;
  background: linear-gradient(#e8631cdc, #e8631cdc), url(IMAGES/hero2.png);
  background-size: cover;
  background-position: center;
}

.center5 {
  text-align: center;
  justify-content: center;
  color: white;
  padding: 200px;
  font-size: 30px;
  font-family: sans-serif;
}

.center5 h1 {
  font-size: 58px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald";
  text-align: center;
}

.center5 p {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
  text-align: center;
}

.suscribe {
  height: 100vh;
}

.suscribe .sub {
  background-color: #e8631c;
}

.suscribe .sub .text {
  padding: 140px;
}

.suscribe .sub .text p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

.suscribe .sub .text h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald";
  text-align: center;
}

.type {
  display: flex;
}

.btns {
  width: 180px;
  padding: 8px;
  height: 10px;
}

.suscribe .sub .text .email {
  width: 280px;
  height: 32px;
  border: none;
  margin-left: 260px;
  margin-top: 30px;
}

.suscribe .sub .text button {
  height: 32px;
  width: 140px;
  margin-top: 30px;
  border: none;
  background-color: #303030;
  color: #fff;
}

.dots_images3 {
  position: absolute;
}

.dots_images3 .left {
  position: absolute;
  left: 0;
  height: 100%;
}

.dots_images3 .right {
  position: absolute;
  height: 100%;
}

.dots_images3 .left img {
  position: absolute;
  top: -300px;
  height: 580px;
  left: 600px;
}

.dots_images3 .right img {
  position: absolute;
  top: -300px;
  height: 580px;
  left: -140px;
}

/* SECTION FOOTER STARTED  */
.section9 {
  position: relative;
  align-items: center;
  align-content: center;
  height: 60vh;
  background-color: #303030;
  overflow-x: hidden;
}

.s9secmain {
  display: flex;
  margin-left: 100px;
}

.s9sec {
  width: 500px;
}

.s9sec1 {
  display: flex;
  font-family: sans-serif;
}

.s9link {
  padding-left: 50px;
  color: white;
  font-family: sans-serif;
}

.s9link h3 {
  text-transform: uppercase;
  font-size: 23px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Oswald";
}

.s9link p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.s9link a {
  text-decoration: none;
  font-size: 13px;
  color: white;
  line-height: 25px;
}

.s9img {
  height: 30px;
  margin-left: 3px;
}

.ii1 {
  position: absolute;
  height: 110px;
  top: 30px;
  right: 250px;
}

.ii2 {
  position: absolute;
  position: absolute;
  height: 80px;
  top: 120px;
  left: 10px;
}

.ii3 {
  position: absolute;
  height: 90px;
  bottom: 30px;
  left: 10px;
  height: 70px;
}

.ii4 {
  position: absolute;
  height: 50px;
  position: absolute;
  left: 220px;
  top: 60px;
}

.ii5 {
  position: absolute;
  position: absolute;
  height: 80px;
  right: 0px;
  top: 130px;
}

.ii7 {
  position: absolute;
  height: 150px;
  right: 60px;
  bottom: 30px;
}

.iii1 {
  position: absolute;
  height: 120px;
  top: 20px;
  right: 150px;
}

.iii2 {
  position: absolute;
  position: absolute;
  height: 80px;
  bottom: 50px;
  right: 130px;
}

.iii3 {
  position: absolute;
  height: 60px;
  bottom: 250px;
  left: 60px;
  height: 70px;
}

.iii4 {
  position: absolute;
  height: 70px;
  position: absolute;
  left: 200px;
  top: 60px;
}

.iii5 {
  position: absolute;
  height: 60px;
  top: 250px;
  right: 120px;
}

.iii6 {
  position: absolute;
  height: 120px;
  left: 180px;
  bottom: 30px;
}

.iii7 {
  position: absolute;
  height: 80px;
  top: 40px;
  right: 600px;
}

.iii8 {
  position: absolute;
  height: 50px;
  right: 600px;
  bottom: 50px;
}